
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{ 
    display: flex;
    align-items: center;
    gap: 10px; 
}

.nav-logo p {
    color: black;
    font-size: 30px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-login-cart button{
    width:68px;
    height: 33px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 76px;
    color: #515151;
    font-size: 13px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.nav-login-cart button:active{
    background-color: #e3e6f3;
}

.nav-cart-count {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -43px;
    margin-left: -45px;
    border-radius: 11px;
    font-size: 11px;
    background: red;
    color: white;
}