.loginsignup {
    width: 100%;
    height: 90vh;
    background: #fce3fe;
    padding: 50px;
    padding-right: 50px;
}
.loginsingnup-container {
    width: 579px;
    height: 540px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.loginsingnup-container h1{
    margin: 20px 0px;
}
.loginsingnup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginsingnup-fields input {
    height: 60px;
    width: 96%;
    padding-left: 20px;
    border-left: 1px solid black;
    outline: none;
    color: #5c5c5c;
    font-size: 15px;
}
.loginsingnup-container button{
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 500;
}
.loginsingnup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width:1280px) {
    .loginsignup{
        padding-top: 50px;
    }
    .loginsingnup-container{
        width: auto;
        max-width: 500px;
        max-height: 500x;
    }
    .loginsingnup-container h1{
        margin: 10px 0px;
    }
    .loginsingnup-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .loginsingnup-fields input{
        height: 65px;
        width: 98%;
    }
    .loginsingnup-container button{
        width: 100%;
    }
}
@media (max-width:800px) {
    .loginsignup{
        padding-left: 0px;
        padding-right: 0px;
        height: 72vh;
    }
    .loginsingnup-container{
        padding: 20px 30px;
        height: 470px;
    }
    .loginsingnup-container h1{
        font-size: 24px;
    }
    .loginsingnup-fields{
        margin-top: 20px;
    }
    .loginsingnup-fields input{
        height: 50px;
    }
    .loginsingnup-container button{
        height: 50px;
        font-size: 16px;
    }
}
@media (max-width:500px) {
    .loginsignup{
        height: 60vh;
    }
}
