/* .popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin: ;
}
.popular h1{
    color: black;
    font-size: 50px;
    font-weight: 500;
}
.popular hr{
    width: 306px;
    height: 4px;
    border-radius: 50px;
    background: black;
}
/* .popular-item{
    margin-top: 35px;
    display: flex;
    gap: 10px;
    margin-left: 50px;
} */ */
